<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%layout("/WEB-INF/view/common/inc/admin_head.html",{title:'年度执法计划',styles:'bootstrap,font-awesome,animate,style,bootstrap-table'}){%>
    <style>
        .fixed-table-container{
            background-color: #fff;
        }
    </style>
    <%}%>
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

            <!-- START 右侧数据 -->
            <!-- START 查询表单 -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查询表单</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="year" >年度:</label>
                            <select id="year" name="type" class="form-control" >
                                <option value="">选择年度</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="groupPname">&nbsp;&nbsp;管理机构:</label>
                            <div class="input-group">
                                <input type="hidden" id="groupPid" name="groupId" class="form-control" valid="r" validTitle="管理机构" validInfoArea="groupId_info_area" />
                                <input type="text" id="groupPname" name="groupName" placeholder="请选择管理机构" class="form-control" valid="r" validTitle="管理机构" validInfoArea="groupId_info_area" readonly/>
                                <span class="input-group-btn">
                                    <a id="selectManageGroup" class="btn btn-primary" style="margin-bottom: 0px;"><i class="fa fa-plus"></i></a>
                                </span>
                            </div>
                        </div>
                        <a class="search-btn btn btn-success" style="margin-bottom: 0px;">查询</a>
                        <button class="btn btn-default" type="reset" style="margin-bottom: 0px;">重置</button>
                    </form>
                </div>
            </div>
            <!-- END 查询表单 -->

            <!-- START 操作按钮 -->
            <div id="toolbar" class="btn-group" style="margin-bottom:5px;">
                <a  class="add-btn btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i> 制定计划</a>
                <a class="del-btn btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 删除</a>
            </div>
            <!-- END 操作按钮 -->

            <!-- START 数据表格 -->
            <table id="yearplantable"
                   data-toolbar="#toolbar"
                   data-side-pagination="server"
                   data-pagination="true"
                   data-resizable="true"
                   data-side-pagination="server"
                   data-url="/yearplan/info/findall.do?groupId=${groupId}"
                   data-page-size="15">
            </table>
            <!-- END 数据表格 -->

            <!-- END 右侧数据 -->
        </div>
    </div>
</div>

<%layout("/WEB-INF/view/common/inc/admin_js.html",{modules:'jquery,bootstrap,bootstrap-table,bootstrap-table-zh-CN,layer'}){}%>

<script>
    var $yearplantable = $('#yearplantable'), selections = [],$sYear = $('#year'),$sGroup = $('#groupPid');
    $(function () {

        //START 表格配置
        $yearplantable.bootstrapTable({
            height: getHeight(),
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '计划编号',
                    field: 'id',
                    align: 'left',
                    valign: 'middle',
                    visible: false
                },
                {
                    title: '年度',
                    field: 'year',
                    align: 'left',
                    valign: 'middle',
                    sortable: true
                },
                {
                    title: '管理机构',
                    field: 'groupName',
                    align: 'left',
                    valign: 'middle',
                    sortable: true
                },
                {
                    title: '重点企业（家次）',
                    field: 'importantTotal',
                    align: 'left',
                    valign: 'middle',
                    sortable: true
                },
                {
                    title: '一般企业（家次）',
                    field: 'normalTotal',
                    align: 'left',
                    valign: 'middle',
                    sortable: true
                },
                {
                    title: '计划检查数（家次）',
                    field: 'yearTotal',
                    align: 'left',
                    valign: 'middle',
                    sortable: true
                },
                {
                    title: '人数',
                    field: 'memberNum',
                    align: 'left',
                    valign: 'middle',
                    visible: false
                },
                {
                    title: '抽查比例',
                    field: 'checkPercent',
                    align: 'left',
                    valign: 'middle',
                    visible: false
                },
                {
                    field: 'operate',
                    title: '操作',
                    width: 200,
                    align: 'center',
                    valign: 'middle',
                    formatter: optFormatter
                }
            ],
            onLoadSuccess: function () {
                //修改年度执法计划
                $('.edit-yearplan-btn').on('click', function () {
                    var yearplanid = $(this).attr('data-val');
                    layer.open({
                        title: '修改年度执法计划',
                        type: 2,
                        area: ['780px', '500px'],
                        content: ['/yearplan/info/editpage.do?id=' + yearplanid, 'no']
                    });
                });

                //删除年度执法计划
                $('.del-yearplan-btn').on('click', function () {
                    var delid = $(this).attr('data-val'),delname = $(this).attr('data-val-name');
                    //删除确认提示
                    layer.confirm('确定要删除当前年度执法计划？<br>[<strong>'+delname+'</strong>]', {
                        btn: ['确定','取消'],title:'提示'
                    }, function(){
                        $.post('/yearplan/info/delete.do', {ids: delid}, function (data) {
                            if (data.ok) {
                                layer.msg(data.msg, {icon: 1, time: 1500}, function () {
                                    //刷新页面
                                    $yearplantable.bootstrapTable('refresh');
                                });
                            } else {
                                layer.msg(data.msg, {icon: 0, time: 1500});
                            }
                        });
                    });

                });

            }
        });
        //END 表格配置

        //新增年度执法计划
        $('.add-btn').on('click', function () {//新增
            layer.open({
                title: '制定年度执法计划',
                type: 2,
                area: ['790px', '500px'],
                skin: 'layer-ext-espresso',
                content: ['/yearplan/info/addpage.do', 'no']
            });
        });

        //删除年度执法计划
        $('.del-btn').on('click', function () {
            var selDatas = $yearplantable.bootstrapTable('getSelections');
            if (selDatas.length == 0) {
                layer.msg('请选择要删除的年度执法计划', {icon: 0, shade: [0.8, '#393D49'], time: 1500});
            } else {
                var ids = [],names = [];
                $.each(selDatas, function (i, d) {
                    ids.push(d.id);
                    names.push(d.year);
                });
                ids = ids.join(',');
                names = names.join(',');

                layer.confirm('确定要删除以下年度执法计划？<br>[<strong>'+names+'</strong>]', {
                    btn: ['确定','取消'],title:'提示'
                }, function(){
                    $.post('/yearplan/info/delete.do', {ids: ids}, function (data) {
                        if (data.ok) {
                            layer.msg(data.msg, {icon: 1, time: 1500}, function () {
                                //刷新页面
                                $yearplantable.bootstrapTable('refresh');
                            });
                        } else {
                            layer.msg(data.msg, {icon: 0, time: 1500});
                        }
                    });
                });

            }
        });

        //选择管理机构
        $('#selectManageGroup').on('click',function(){
            layer.open({
                title: '选择管理机构',
                type: 2,
                area: ['300px', '550px'],
                skin: 'layer-ext-espresso',
                content: ['/power/group/selecttree.do?mt=n&blimit=y', 'yes']
            });
        });

        //查询
        $('.search-btn').on('click',function(){
            $yearplantable.bootstrapTable('refresh',{url: '/yearplan/info/findall.do?groupId='+$sGroup.val()+'&year='+$sYear.val()});
        });

        //表格高度自适应
        $(window).resize(function () {
            $yearplantable.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    });

    //操作菜单
    function optFormatter(value, row) {
        //var content = '<button class="edit-yearplan-btn btn btn-xs btn-info" data-val="' + row.id + '" title="修改"><i class="fa fa-edit"></i>  修改</button>';
        var content = '&nbsp;<button class="del-yearplan-btn btn btn-xs btn-danger" data-val="' + row.id + '" data-val-name="' + row.year + '" title="删除"><i class="fa fa-trash-o"></i>  删除</button>';
        return content;
    }

    //表格高度计算
    function getHeight() {
        return $(window).height() - $('.btn-group').outerHeight(true) - $('.breadcrumb').outerHeight(true) - 145;
    }
</script>
</body>
</html>
