<!DOCTYPE html>
<html>

<head>
   <%layout("/WEB-INF/view/common/inc/admin_head.html",{title:'数据中心', styles:'bootstrap,animate,style,font-awesome'}){}%>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-md-12">

            
            </div>
        </div>

    </div>

	<%layout("/WEB-INF/view/common/inc/admin_js.html",{modules:'jquery,bootstrap,layer'}){}%>

    <script>
        $(document).ready(function () {

        });
    </script>

</body>

</html>
