<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codecrane.core.power.mapper.PowerGroupMapper">

    <!-- 返回结果集映射 组织机构信息 -->
    <resultMap type="powerGroup" id="powerGroupMap">
        <!-- 组织机构编号 -->
        <id column="group_id" property="id"/>
        <!-- 上级组织机构编号 -->
        <result column="group_pid" property="groupPid"/>
        <!-- 组织机构名称 -->
        <result column="group_name" property="groupName"/>
        <!-- 上级机构名称 -->
        <result column="parent_group_name" property="parentGroupName"/>
        <!-- 组织机构描述 -->
        <result column="group_desc" property="groupDesc"/>
        <!-- 删除标志             0未删除             1已删除 -->
        <result column="deleted" property="deleted"/>
        <!-- 创建时间 -->
        <result column="create_date" property="createDate"/>
        <!-- 更新时间 -->
        <result column="modify_date" property="modifyDate"/>
        <!-- 排序号 -->
        <result column="order_id" property="orderId"/>
        <!-- 机构类型 -->
        <result column="group_type" property="groupType"/>
        <!-- 层级关系 -->
        <result column="group_level" property="groupLevel"/>
    </resultMap>

    <!-- 组织机构信息 表名定义 -->
    <sql id="tableName">power_group</sql>

    <!-- 组织机构信息 所有列定义 -->
    <sql id="tbAllColumns">
		group_id,
		group_pid,
		group_name,
		group_desc,
		deleted,
		create_date,
		modify_date,
		order_id,
		group_type,
		group_level
	</sql>

    <!-- 组织机构信息 查询结果 -->
    <sql id="tbSelectAllColumns">
		tba.group_id,
		tba.group_pid,
		tbb.group_name AS parent_group_name,
		tba.group_name,
		tba.group_desc,
		tba.deleted,
		tba.create_date,
		tba.modify_date,
		tba.order_id,
		tba.group_type,
		tba.group_level
	</sql>

    <!-- 组织机构信息 新增列定义 -->
    <sql id="tbInsertColumns">
		group_pid,
		group_name,
		group_desc,
		deleted,
		create_date,
		modify_date,
		order_id,
		group_type,
		group_level
	</sql>

    <!-- 新增 组织机构信息-->
    <insert id="insert" parameterType="powerGroup" useGeneratedKeys="true" keyColumn="group_id" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="tbInsertColumns"/>
        )
        VALUES(
        #{groupPid},
        #{groupName},
        #{groupDesc},
        0,
        sysdate(),
        #{modifyDate},
        #{orderId},
        #{groupType},
        #{groupLevel}
        )
    </insert>

    <!-- 批量新增 组织机构信息-->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="tbInsertColumns"/>
        )
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.groupPid},
            #{item.groupName},
            #{item.groupDesc},
            0,
            sysdate(),
            #{item.modifyDate},
            #{item.orderId},
            #{item.groupType},
            #{item.groupLevel}
            )
        </foreach>
    </insert>

    <!-- 修改 组织机构信息-->
    <update id="update" parameterType="powerGroup">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="groupPid != null ">group_pid = #{groupPid},</if>
            <if test="groupName != null and groupName !=''">group_name = #{groupName},</if>
            <if test="groupDesc != null and groupDesc !=''">group_desc = #{groupDesc},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="groupType != null">group_type = #{groupType},</if>
            <if test="groupLevel != null and groupLevel !=''">group_level = #{groupLevel}</if>
        </set>
        WHERE
        group_id = #{id}
    </update>

    <!-- 删除 组织机构信息-->
    <delete id="delete" parameterType="long">
        UPDATE
        <include refid="tableName"/>
        SET
        deleted = 1
        WHERE
        group_id = #{id}
    </delete>


    <!-- 批量删除 组织机构信息-->
    <delete id="deleteByIds" parameterType="list">
        UPDATE
        <include refid="tableName"/>
        SET
        deleted = 1
        WHERE
        group_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 查询指定组织机构信息 -->
    <select id="queryByPowerGroupId" parameterType="long" resultMap="powerGroupMap">
        SELECT
        <include refid="tbSelectAllColumns"/>
        FROM
        <include refid="tableName"/>
        tba
        LEFT JOIN
        <include refid="tableName"/>
        tbb ON tbb.group_id = tba.group_pid
        WHERE tba.group_id = #{id}
    </select>

    <!-- 查询指定组织机构子机构 -->
    <select id="queryByPowerGroupPid" parameterType="long" resultMap="powerGroupMap">
        SELECT
        <include refid="tbAllColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE group_pid = #{id} AND deleted = 0
        ORDER BY order_id ASC
    </select>

    <!-- 查询所有组织机构信息 -->
    <select id="queryAllPowerGroup" resultMap="powerGroupMap">
        SELECT
        <include refid="tbAllColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE deleted = 0
        ORDER BY order_id ASC
    </select>

    <!-- 查询指定机构下所有子机构 -->
    <select id="queryAllChildGroup" resultMap="powerGroupMap">
        SELECT tba.*
        FROM
        <include refid="tableName"/>
        tba LEFT JOIN
        <include refid="tableName"/>
        tbb ON tbb.group_id = tba.group_id AND tbb.group_id = #{id}
        WHERE tba.group_level LIKE concat((SELECT group_level FROM power_group WHERE group_id = #{id}), #{id}, '_%') AND tba.deleted = 0 OR tba.group_id = #{id}
        <if test="groupType != null">
            AND group_type = #{groupType}
        </if>
        ORDER BY tba.order_id ASC
    </select>

    <!-- 查询指定机构下所有父机构 -->
    <select id="queryAllParentGroup" resultMap="powerGroupMap">
        SELECT
        <include refid="tbSelectAllColumns"/>
        FROM
        <include refid="tableName"/>
        tba LEFT JOIN
        <include refid="tableName"/>
        tbb ON tbb.group_id = tba.group_pid
        WHERE tba.group_id IN (tba.group_level)
        <if test="groupType != null">
            AND group_type = #{groupType}
        </if>
        ORDER BY tba.order_id ASC
    </select>

</mapper>