<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	  <%layout("/WEB-INF/view/common/inc/admin_head.html",{title:'添加任务计划', styles:'bootstrap,font-awesome,animate,style,dtvalidate'}){%>
	  <style type="text/css">
		  body{padding-top:10px;}
	  </style>
	  <%}%>
  </head>
  <body>
	<!-- START 内容部分 -->
	<div class="container">
		<form class="form-horizontal" id="info-form" method="post">
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">名称</label>
				<div class="col-sm-6">
					<input type="text" id="jobName" name="jobName" class="form-control" valid="r" validTitle="任务名称" validInfoArea="jobName_info_area" />
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobName_info_area"></p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">分组</label>
				<div class="col-sm-6">
					<input type="text" id="jobGroup" name="jobGroup" class="form-control" valid="r" validTitle="任务分组" validInfoArea="jobGroup_info_area" />
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobGroup_info_area"></p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">执行时间cron表达式</label>
				<div class="col-sm-6">
					<input type="text" id="jobCron" name="jobCron" class="form-control" valid="r" validTitle="任务执行时间表达式" validInfoArea="jobCron_info_area" />
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobCron_info_area"></p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">任务类完整路径</label>
				<div class="col-sm-6">
					<input type="text" id="jobClassPath" name="jobClassPath" class="form-control" valid="r" validTitle="任务执行类完整路径" validInfoArea="jobClassPath_info_area" />
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobClassPath_info_area"></p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">任务状态</label>
				<div class="col-sm-6">
					<input type="text" id="jobStatus" name="jobStatus" class="form-control" valid="r" validTitle="任务状态" validInfoArea="jobStatus_info_area" />
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobStatus_info_area"></p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">任务描述</label>
				<div class="col-sm-6">
					<textarea id="jobDescription" name="jobDescription" class="form-control" valid="r" validTitle="任务描述" validInfoArea="jobDescription_info_area" ></textarea>
				</div>
				<div class="col-sm-4"><p class="help-block" id="jobDescription_info_area"></p></div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="save-btn btn btn-primary">
						<i class="fa fa-save"></i> 提交
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- END 内容部分 -->
	
	<%layout("/WEB-INF/view/common/inc/admin_js.html",{modules:'jquery,bootstrap,dtvalidate,dtvalidate-lang-zh_cn'}){}%>
	<script>
	var cvalidator;
	$(function(){
		//初始化验证器
		cvalidator = $('#info-form').dtValidator();
		
		//提交表单
		$('.save-btn').on('click',function(){
			if(!cvalidator.validResult()){
				$.fn.DtValidator.tools.toast('验证失败！', 'error', 2000);
				return;
			}
			
			//数据提交
			$.post('/power/schedule/save.do',$('#info-form').serialize(),function(data){
				if( data.ok ){
					parent.layer.msg(data.msg,{icon:1,time:2000,shade: [0.8, '#393D49']}, function(){
						parent.$powerscheduletable.bootstrapTable('refresh');
						parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭弹窗
					});
				}else{
					parent.layer.msg(data.msg,{icon: 0,time:1500,shade: [0.8, '#393D49']});
				}
			});
		});
    });
    </script>
  </body>
</html>